<h2 mat-dialog-title>Join a room now!</h2>
<mat-dialog-content>
    <form class="flex flex-col items-start" [formGroup]="joinRoomForm" (ngSubmit)="onSubmit()">
        <mat-label class="mb-4">Username</mat-label>
        <mat-form-field appearance="outline" class="w-full mb-8">
            <input matInput formControlName="username" placeholder="Username" />
            <mat-error *ngIf="getFormControl('username')?.errors?.['required']">Username is required</mat-error>
            <mat-error *ngIf="getFormControl('username')?.errors?.['minlength']">Username is must be atleast 5
                characters</mat-error>
        </mat-form-field>
        <mat-label class="mb-4">Room ID</mat-label>
        <mat-form-field appearance="outline" class="w-full mb-16">
            <input matInput formControlName="roomId" placeholder="Room ID" />
            <mat-error *ngIf="getFormControl('roomId')?.errors?.['required']">Room id is required</mat-error>
            <mat-error
                *ngIf="getFormControl('roomId')?.errors?.['minlength']|| getFormControl('roomId')?.errors?.['maxlength']">Room
                id must be 21 characters</mat-error>
            <mat-error *ngIf="getFormControl('roomId')?.errors?.['noSpaceAllowed']">No whitespace allowed in room
                id</mat-error>
        </mat-form-field>
        <button class="w-full" mat-flat-button color="primary" type="submit"
            [disabled]="!joinRoomForm.valid || isLoading">
            <div class="flex items-center gap-8">
                <mat-spinner [diameter]="20" class="mr-12" *ngIf="isLoading"></mat-spinner>
                <span>Create Room</span>
            </div>
        </button>
    </form>
</mat-dialog-content>