@import 'themes/theme-default';
@import 'vars';
@import 'typography';
@import 'modules/mixins';
@import 'modules/utility';
@import 'modules/colors';
@import 'modules/material.mod';
@import 'modules/form-field.mod';
@import 'modules/animations';
@import 'modules/scrollbar.mod';
@import 'modules/screen_based_generic_styles';
@import 'modules/dialogs';
@import 'modules/sizing-utility.scss';

* {
	box-sizing: border-box;
}

body {
	background-color: white;
}

// Global CSS
html,
body,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
a,
b {
	margin: 0 0;
	padding: 0 0;
}

body:not(.is-mobile) {
	::-webkit-scrollbar {
		background-color: rgba(255, 255, 255, 0.4);
	}

	::-webkit-scrollbar:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}

	::-webkit-scrollbar-thumb {
		border: 2px solid transparent;
		box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
		border-radius: 12px;
	}

	::-webkit-scrollbar-thumb:active {
		box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
		border-radius: 12px;
	}
}

a {
	cursor: pointer;

	&:hover:not(.mat-button-base) {
		color: $primary-background-color !important;
	}
}

@mixin content-container() {
	width: 100%;
	margin: 0 auto !important;
	padding-top: 32px;
	overflow-x: hidden;
}

.content-container {
	@include content-container();
	max-width: calc((100vw - (100vw - 1920px)));
	height: 100%;
}

.content-container-1296px {
	@include content-container();
	max-width: calc((100vw - (100vw - 1296px)));
}

@media only screen and (min-width: 500px) {
	.content-container {
		height: 100%;
	}
}

.center-container {
	height: 100%;
	max-width: $max-container-width;
	margin-inline: auto;
	padding: 0 16px;
	overflow-x: hidden;
	@media screen and (min-width: 600px) {
		padding: 0 64px;
	}
	@media screen and (min-width: 960px) {
		padding: 0 72px;
	}
	@media screen and (min-width: calc($max-container-width + 16px)) {
		padding: 0 56px;
	}
}

.content-container-inner {
	max-width: calc((100vw - (100vw - 900px)));
	margin: auto;
}

.content-container-inner-764px {
	max-width: calc((100vw - (100vw - 764px)));
	margin: auto;
}

.content-container {
	.form-container {
		> mat-card {
			box-sizing: border-box;
			padding: 32px 40px;
		}
	}
}

.infinite-scroll-container {
	overflow: auto;
	padding-bottom: 32px;
}

.top-header {
	padding: 32px;
}

app-root-default {
	display: block;
	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 100%;
}

a {
	text-decoration: none !important;
}

p {
	letter-spacing: normal;
	font-weight: normal;
	white-space: pre-line;
}

.text-bold {
	font-weight: 600;
}

.btn-large {
	padding: 0 38px !important;
	border-radius: 4px !important;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	//text-transform: uppercase;
	height: 48px !important;
	//color: #212121;
}

.mat-elevation-z1,
mat-card:not([class*='mat-elevation-z']) {
	@include business-shadow-variant1();
}

.public-toolbar {
	height: auto !important;

	.public-header {
		padding: 20px 0;
		max-width: $max-container-width;
		margin: auto;
		gap: 16px;
		@media screen and (min-width: 600px) {
			padding: 20px 48px;
		}
		@media screen and (min-width: 960px) {
			padding: 20px 56px;
		}
		@media screen and (min-width: calc($max-container-width + 16px)) {
			padding: 20px 56px;
		}
	}
}


i {
    color: inherit !important;
    font-size: inherit !important;
    width: inherit !important;
    height: inherit !important;
    min-width: inherit !important;
    min-height: inherit !important;
    line-height: inherit !important;
  }
  
  .text-animation {
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-name: bounce;
  }

.mat-mdc-form-field-error-wrapper{
	padding-inline: 0px !important;
}