@import 'vars';

$font-remote-path: '../assets/fonts/rutan-old';
// New Styles from Moshiur vai
// @font-face {
//   font-family: "Rutan";
//   src: url("#{$font-remote-path}/Rutan-Light.eot");
//   src: url("#{$font-remote-path}/Rutan-Light.eot?#iefix") format("embedded-opentype"),
//     url("#{$font-remote-path}/Rutan-Light.woff2") format("woff2"),
//     url("#{$font-remote-path}/Rutan-Light.woff") format("woff"),
//     url("#{$font-remote-path}/Rutan-Light.otf") format("opentype");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Rutan";
//   src: url("#{$font-remote-path}/Rutan-Regular.eot");
//   src: url("#{$font-remote-path}/Rutan-Regular.eot?#iefix") format("embedded-opentype"),
//     url("#{$font-remote-path}/Rutan-Regular.woff2") format("woff2"),
//     url("#{$font-remote-path}/Rutan-Regular.woff") format("woff"),
//     url("#{$font-remote-path}/Rutan-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Rutan";
//   src: url("#{$font-remote-path}/Rutan-Medium.eot");
//   src: url("#{$font-remote-path}/Rutan-Medium.eot?#iefix") format("embedded-opentype"),
//     url("#{$font-remote-path}/Rutan-Medium.woff2") format("woff2"),
//     url("#{$font-remote-path}/Rutan-Medium.woff") format("woff"),
//     url("#{$font-remote-path}/Rutan-Medium.otf") format("opentype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Rutan";
//   src: url("#{$font-remote-path}/Rutan-DemiBold.eot");
//   src: url("#{$font-remote-path}/Rutan-DemiBold.eot?#iefix") format("embedded-opentype"),
//     url("#{$font-remote-path}/Rutan-DemiBold.woff2") format("woff2"),
//     url("#{$font-remote-path}/Rutan-DemiBold.woff") format("woff"),
//     url("#{$font-remote-path}/Rutan-DemiBold.otf") format("opentype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

$font-version: '6.1';

@font-face {
	font-family: $font-family;
	font-weight: normal;
	src: url('#{$font-remote-path}/Rutan-Regular.woff2?v=#{$font-version}') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: $font-family;
	font-weight: 300;
	src: url('#{$font-remote-path}/Rutan-Light.woff2?v=#{$font-version}') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: $font-family-bold;
	font-weight: bold;
	src: url('#{$font-remote-path}/Rutan-Medium.woff2?v=#{$font-version}') format('woff2');
	font-display: swap;
}

.business-title,
.business-subtitle {
	width: 100%;
	display: block;
}

.business-title {
	font-style: normal;
	font-size: 26px;
	line-height: 120%;
	margin-bottom: 8px;
	font-weight: bold;
}

.business-subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

//-----------------------------------------
// word-break
//-----------------------------------------
.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	//noinspection CssUnknownProperty
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	//noinspection CssOverwrittenProperties
	word-break: break-all;
	/* Instead use this non-standard one: */
	//noinspection CssOverwrittenProperties
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

body {
	font-size: 13px;
	font-family: $font-family, sans-serif;
	color: #212121;
	p {
		line-height: 21px;
	}
	.rich-text-inside {
		p {
			line-height: normal;
		}
	}
}

html {
	line-height: 1.4 !important;
	letter-spacing: -0.1px !important;
}

html,
body {
	-moz-osx-font-smoothing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 400;
}

.body2 {
	font-weight: normal;
	font-size: 15px;
	line-height: 150%;
	margin: 0;
}

.body1 {
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.0025em;
	margin: 0;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: 0.01em;
}

body.theme-ecap {
	//color: $gray-500 !important;

	h1,
	h2,
	h3,
	h4,
	h5,
	.subtitle2 {
		color: #212121;
	}

	.subtitle3 {
		color: $gray-500;
	}

	h6 {
		color: #b6b6b6;
	}

	.support-text-large,
	.support-text {
		color: $gray-400;
	}

	label.caption {
		color: $gray-700 !important;
	}
}

.text-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem;
} /* 16px */
.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem;
} /* 20px */
.text-base {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem;
} /* 24px */
.text-lg {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem;
} /* 28px */
.text-xl {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem;
} /* 28px */
.text-2xl {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem;
} /* 32px */
.text-3xl {
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem;
} /* 36px */
.text-4xl {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem;
} /* 40px */
.text-5xl {
	font-size: 3rem; /* 48px */
	line-height: 1;
}
.text-6xl {
	font-size: 3.75rem; /* 60px */
	line-height: 1;
}
.text-7xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}
.text-8xl {
	font-size: 6rem; /* 96px */
	line-height: 1;
}
.text-9xl {
	font-size: 8rem; /* 128px */
	line-height: 1;
}

.font-light {
	font-weight: 300;
}
.font-normal {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.font-extrabold {
	font-weight: 800;
}
