<form [formGroup]="createRoomForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 mb-16">
  <mat-label class="mb-4">Username</mat-label>
  <mat-form-field appearance="outline" class="mb-12 flex flex-col flex-gap-6">
    <input matInput placeholder="John Doe" [formControl]="createRoomForm.controls.username" />
    <mat-error *hasError="'required'">Username is required</mat-error>
    <mat-error *hasError="'minlength'">Username must be atleast 5 characters</mat-error>
  </mat-form-field>

  <div>
    <mat-label class="mb-4">Room ID</mat-label>

    <div class="flex items-center justify-between copy-button-container mb-8">
      <span>{{ roomId }}</span>
      <app-copy-button [value]="roomId"></app-copy-button>
    </div>
  </div>
  <button type="submit" mat-flat-button color="primary" [disabled]="!createRoomForm.valid || isLoading">
    <div class="flex items-center gap-8">
      <mat-spinner [diameter]="20" class="mr-12" *ngIf="isLoading"></mat-spinner>
      <span>Create Room</span>
    </div>
  </button>
</form>