<form [formGroup]="createRoomForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <div class="form-field">
        <label class="text-foreground">Username</label>
        <div class="form-control">
          <input type="text" placeholder="johndoe" formControlName="username" />
        </div>
        <div class="form-message text-xs"></div>
      </div>
  
      <div>
        <p class="mb-2 text-sm font-medium">Room ID</p>
  
        <div class="flex h-10 w-full items-center justify-between rounded-md border bg-background px-3 py-2 text-sm text-muted-foreground">
          <span>{{ roomId }}</span>
          <!-- Add your CopyButton component or functionality here -->
          <!-- Example: <button (click)="copyToClipboard()">Copy</button> -->
        </div>
      </div>
      <button mat-flat-button color="primary">Create Room</button>
    </div>
  </form>
