:host {
	display: block;
	.custom-snackbar {
    display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
    border-radius: 1rem;
	}
	.custom-snackbar:not(.error-toast) {
		color: white;
	}
	.error-toast {
		color: #ff2525;
		font-weight: 700;
	}

	.error-text {
		font-weight: 700 !important;
	}
}