.room-layout-container {
	height: calc(100vh);
	background: hsl(222.2, 84%, 4.9%);
	@media screen and (min-width: 1024px) {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(15.5rem, 1fr);
	}
}
